In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==6).all()

In [5]:
# 2. Convert the June temperatures to a list.
junetemps = list((june))

In [9]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(junetemps,columns=['date','June Temperatures'])
june_temps_df.set_index(june_temps_df['date'], inplace=True)

In [10]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

       June Temperatures
count        1700.000000
mean           74.944118
std             3.257417
min            64.000000
25%            73.000000
50%            75.000000
75%            77.000000
max            85.000000

In [ ]:
# 5. Return to your challenge instructions to compare your summary statistics

## D2: Determine the Summary Statistics for December

In [11]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==12).all()

In [16]:
# 7. Convert the December temperatures to a list.
dectemps = list((december))

In [17]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dectemps,columns=['date','December Temperatures'])
dec_temps_df.set_index(dec_temps_df['date'], inplace=True)

In [18]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000

In [ ]:
# 10. Return to your challenge instructions to compare your summary statistics

In [22]:
## D3: Additional queries

In [23]:
# September precipitation and temperatures
sep_prcp_temp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
filter(extract('month',Measurement.date) ==9).all()
sep_PT=list((sep_prcp_temp))
sep_prcp_temp_df = pd.DataFrame(sep_PT,columns=['date','September Precipitation','September Temperatures'])
sep_prcp_temp_df.set_index(sep_prcp_temp_df['date'],inplace=True)
sep_prcp_temp_df.describe()

       September Precipitation  September Temperatures
count              1379.000000             1480.000000
mean                  0.164249               76.164865
std                   0.437928                3.535178
min                   0.000000               64.000000
25%                   0.000000               74.000000
50%                   0.020000               76.000000
75%                   0.150000               79.000000
max                   6.830000               87.000000

In [24]:
# February precipitation and temperatures
feb_prcp_temp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
filter(extract('month',Measurement.date) ==2).all()
feb_PT=list((feb_prcp_temp))
feb_prcp_temp_df = pd.DataFrame(feb_PT,columns=['date','February Precipitation','February Temperatures'])
feb_prcp_temp_df.set_index(feb_prcp_temp_df['date'],inplace=True)
feb_prcp_temp_df.describe()

       February Precipitation  February Temperatures
count             1466.000000            1610.000000
mean                 0.137271              69.442236
std                  0.398875               3.981399
min                  0.000000              56.000000
25%                  0.000000              67.000000
50%                  0.000000              70.000000
75%                  0.070000              72.000000
max                  5.040000              83.000000